body{
    color: $color-primary;
    background-color: $color-white;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    &.modal-open{
        overflow: hidden;
    }
}
 
h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}
