// ФУТЕР ПІДПИСАТИСЯ

// Мобільна версія 480px
.footer-conect {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.footer-conect__text {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 20px;
}

.footer-conect__input {
    width: 100%;
    background-color: $color-bgr-footer;
    color: $color-bgr-footer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px 16px;
    margin-bottom: 20px;
}

.footer-conect__btn {
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-white;
    background-color: $color-accent;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;

    margin-left: auto;
    margin-right: auto;
}

.footer-conect__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}



// Планшетна версія 768px
@media screen and (min-width: 768px) {
.footer-conect {
    display: block;
    max-width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.footer-conect__text {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 20px;
}

.footer-conect__input {
    width: 450px;
    background-color: $color-bgr-footer;
    color: $color-bgr-footer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px 16px;
    margin-bottom: 20px;
}

.footer-conect__btn {
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-white;
    background-color: $color-accent;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;

    margin-left: auto;
    margin-right: auto;
}

}





// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
.footer-conect {
    display: block;
    max-width: 570px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
}

.footer-conect__group {
    display: flex;
    gap: 10px;
}

.footer-conect__input {
    width: 358px;
    margin-left: 0;
    margin-bottom: 0;
}
.footer-conect__text {
    text-align: start;
}
}