// ДРУГА СТОРІНКА САЙТУ - ПОРТФОЛІО

// СЕТ ПРОДУКТІВ



// Мобільна версія 480px
.card-set {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.prodact {
    background: $color-white;
    max-width: 450px;
    cursor: pointer;
    transition: box-shadow 250ms $timing-function;

    &:hover .prodact__thumb::before {
        transform: translateY(0);
        cursor: pointer;
    }

    &:hover,
    &:focus {
        box-shadow: $shadow-cart;
    }

    &:hover .prodact__text {
        transform: translateY(0);
        cursor: pointer;
    }
}

.prodact__thumb {
    position: relative;
    overflow: hidden;

    &::before {
        display: inline-block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms $timing-function;
        cursor: pointer;
    }
}
.prodact__img{
    display: block;
    width: 100%;
}
.prodact__text {
    display: inline-block;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $color-white;
    top: 0;
    left: 0;
    padding:5px 24px;
    transform: translateY(100%);
    transition: transform 250ms $timing-function;
}

.prodact__content {
    padding: 20px 24px;
    padding-bottom: auto;
    border: 1px solid $color-bgr-cards;
    border-top-width: 0;
}

.prodact__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: $color-primary;
    cursor: pointer;
}

.prodact__title {
    font-size: 16px;
    line-height: 1.9;
    color: $color-secondary;
    cursor: pointer;
}
@media screen and (min-width: 480px) {
.prodact__text {
    padding: 77px 24px;
}
}

// Планшетна версія 768px
@media screen and (min-width: 768px) {
.prodact {
    display: flex;
    flex-direction: column;
    width: 354px;
    height: 100%;
}
.prodact__content {
    flex-grow: 1;
}
.prodact__text {
    padding: 49px 24px;
}
}

// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
.prodact {
    width: 370px;
}

.prodact__text {
    padding: 63px 24px;
}
}

