// ДРУГА СТОРІНКА САЙТУ - ПОРТФОЛІО

// ФІЛЬТР КНОПОК

// Мобільна версія 480px
.filter-set {
    display: flex;
    width: 326px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 40px;
}

.filter-set__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border: 0;
    cursor: pointer;
    background-color: $color-bgr-light;
    color: $color-primary;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
        background-color: $color-accent;
        color: $color-white;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}
}







// Планшетна версія 768px
@media screen and (min-width: 768px) {
.filter-set {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}


}


// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
.filter-set {
    margin-bottom: 34px;
    }
}
