// НАША КОМАНДА



// Мобільна версія 480px


.section.team {
    background-color: $color-bgr-light;

}

.team__heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
}
.team__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__list{
    width: 450px;
}
// .team__list:not(:last-child) {
//     margin-bottom: 30px;
// }

.team__card {
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;
}
.team__img {
    width: 100%;
}
.team__content {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    color: $color-secondary;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-top: 16px;
}

.social-links__link {
    display: flex;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    cursor: pointer;
    transition: color 250ms $timing-function,
    background-color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $color-white;
        background-color: $color-accent;
    }
}

.social-links__icon {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    fill: currentColor;
    width: 20px;
    height: 20px;
}




// Планшетна версія 768px
@media screen and (min-width: 768px) {
.team__content {
    padding-top: 30px;
}


.team__heading {
    font-size: 28px;
}
.team__img {
    width: 100%;
}
.team__list {
    width: 354px;
}

}





// Десктоптна версія 1200px
@media screen and (min-width: 1200px) {
    .team__heading {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .team__img {
        width: 100%;
    }

    .team__list {
        width: 270px;
    }
    .team__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
