$color-primary:#212121;
$color-secondary:#757575;
$color-accent: #2196F3;
$color-black:#000000;
$color-white: #ffffff;
$color-bgr-footer:#2F303A;
$color-bgr-light: #F5F4FA;
$color-bgr-cards: #EEEEEE;
$color-text-address: rgba(255, 255, 255, 0.6);
$gap-card-set: 30px;
$shadow-cart: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);